In [14]:
import pandas as pd
import seaborn as sns
import collections

In [22]:
config_datasheet = 'data/raw/Vokabeltraining.xlsx'
pre_datasheet = "results/data_of_all_removed.xlsx"
unique_code_datasheet = "results/behavioral/compare/compare.xlsx"

In [24]:
raw_if = pd.read_excel(config_datasheet, sheet_name ="If")
raw_for = pd.read_excel(config_datasheet, sheet_name= "For")
raw_while = pd.read_excel(config_datasheet, sheet_name="While")
raw_do_while = pd.read_excel(config_datasheet, sheet_name="Do-While")
raw_pre = pd.read_excel(pre_datasheet)
raw_unique_codes = pd.read_excel(unique_code_datasheet)


df_if = pd.DataFrame(raw_if)
df_for = pd.DataFrame(raw_for)
df_while = pd.DataFrame(raw_while)
df_do_while = pd.DataFrame(raw_do_while)
df_pre = pd.DataFrame(raw_pre)
df_unique_codes = pd.DataFrame(raw_unique_codes)
df_unique_codes

,Unnamed: 0,Unique Code,ResponseTime,Algorithm,Flag,Correctness,Difficulty,ClickData
0,16,1aMLsa,174,CommonChars-Pre,NaN,True,1,98-60 105-106 356-103 98-64 322-101 146-138 38...
1,68,1aMLsa,107,ContainsSubstring,NaN,True,1,124-41 139-73 411-89 106-342 206-264 168-143 2...
2,120,1aMLsa,61,CountVowels,NaN,True,1,147-56 129-139 209-55 221-150 206-195 211-238 ...
3,172,1aMLsa,106,ReverseArray-Pre,NaN,True,1,205-43 178-85 156-225 171-203 168-233 165-267 ...
4,224,1aMLsa,44,BinarySearchStrings-Pre,NaN,True,1,194-61 451-54 199-91 155-255 155-328 156-371 8...
...,...,...,...,...,...,...,...,...
415,114,9oMWun,59,Multiples-Post,NaN,False,1,112-14 134-50 128-86 151-128 136-150 137-175 1...
416,136,9oMWun,60,Power,NaN,True,1,96-8 154-48 144-68 185-93 200-145 166-164 136-...
417,158,9oMWun,62,GetMiddle,NaN,True,1,99-11 136-43 140-77 153-112 153-154 152-170 14...
418,180,9oMWun,223,InsertionSort-Post,NaN,True,2,111-26 128-43 92-94 180-47 216-114 232-133 241...
419,202,9oMWun,92,SquareRoot,NaN,True,1,152-28 171-71 194-88 196-118 196-130 192-173 2...

In [39]:
#unique_codes_if = df_if["Unique Code"].unique()
#unique_codes_for = df_for["Unique Code"].unique()
#unique_codes_while = df_while["Unique Code"].unique()
#unique_codes_do_while = df_do_while["Unique Code"].unique()
unique_codes_study = df_unique_codes["Unique Code"].dropna().unique()


df_vocabulary_if = pd.DataFrame()
df_vocabulary_for = pd.DataFrame()
df_vocabulary_while = pd.DataFrame()
df_vocabulary_do_while = pd.DataFrame()


for code in unique_codes_study:
    tmp_if = df_if.loc[df_if["Unique Code"]== code]
    tmp_for = df_for.loc[df_for["Unique Code"]== code]
    tmp_while = df_while.loc[df_while["Unique Code"]== code]
    tmp_do_while = df_do_while.loc[df_do_while["Unique Code"]== code]

    #tmp_post = df_post.loc[df_post["Unique Code"]==code]
    #df_result = df_result.append(tmp_pre)
    #df_result = df_result.append(tmp_post)
    df_vocabulary_if = df_vocabulary_if.append(tmp_if)
    df_vocabulary_for = df_vocabulary_for.append(tmp_for)
    df_vocabulary_while = df_vocabulary_while.append(tmp_while)
    df_vocabulary_do_while = df_vocabulary_do_while.append(tmp_do_while)
    
display(df_vocabulary_if)
path = "results/behavioral/new_vocabulary.xlsx"
writer = pd.ExcelWriter(path, engine='openpyxl')
df_vocabulary_if.to_excel(writer, 'if', index=False)
df_vocabulary_for.to_excel(writer, 'for', index=False)
df_vocabulary_while.to_excel(writer, 'while', index=False)
df_vocabulary_do_while.to_excel(writer, 'do-while', index=False)
writer.save()
#list_unique_codes = []

#for code in unique_codes_if:
#    list_unique_codes.append(code)

#for code in unique_codes_for:
#    list_unique_codes.append(code)
    
#for code in unique_codes_while:
#    list_unique_codes.append(code)
    
#for code in unique_codes_do_while:
#    list_unique_codes.append(code)
    
#for code in list_unique_codes:
#    list_unique_codes.append(code)

#display(unique_codes_study)   

#counter=collections.Counter(list_unique_codes)
#counter.most_common()

,Unnamed: 0,Unique Code,Punkte,Max Punkte,Fehler,Zeit,Anmerkungen
2,30,1aMLsa,23,23,NaN,00:12:29,NaN
3,0,1eASaa,20,23,10 14 20,00:17:04,NaN
4,35,1nCWte,21,23,10 14,00:15:43,NaN
6,13,1nUSüa,21,23,18 23,00:14:28,NaN
10,37,2eTGer,23,23,NaN,00:24:48,NaN
12,10,2nGAhe,22,23,10,00:12:56,NaN
17,8,3rCHei,22,23,23,00:09:26,NaN
19,43,4aRGür,22,23,23,00:22:03,NaN
20,1,4iMVha,19,23,10 14 18 23,00:08:47,NaN
24,49,4uCGer,21,23,23 20,00:11:22,NaN
30,20,5nDFhi,20,23,17 18 23,00:09:20,NaN
31,47,5nFKho,20,23,10 14 23,00:12:15,NaN
32,25,5uHJei,22,23,23,00:11:24,NaN
33,6,6aJGhh,21,23,10 14,00:08:01,NaN
34,7,6aOGho,23,23,NaN,00:05:13,NaN
39,23,6vEHhi,22,23,10,00:15:24,NaN
43,38,8aRHui,21,23,18 20,00:11:08,NaN
44,16,8lHHsu,22,23,18,00:07:15,NaN
45,17,9aBWha,21,23,14 23,00:15:46,NaN
48,24,9oMWun,22,23,23,00:10:17,NaN

In [47]:
mean_if = float(df_vocabulary_if["Punkte"].mean())
stddev_if = float(df_vocabulary_if["Punkte"].std())

mean_for = float(df_vocabulary_for["Punkte"].mean())
stddev_for = float(df_vocabulary_for["Punkte"].std())

mean_while = float(df_vocabulary_while["Punkte"].mean())
stddev_while = float(df_vocabulary_while["Punkte"].std())

mean_do_while = float(df_vocabulary_do_while["Punkte"].mean())
stddev_do_while = float(df_vocabulary_do_while["Punkte"].std())


print("if", mean_if, stddev_if)
print("for", mean_for, stddev_for)
print("while", mean_while, stddev_while)
print("do-while", mean_do_while, stddev_do_while)

if 21.4 1.0954451150103326
for 24.25 1.164157703189193
while 24.5 0.8271701918685112
do-while 24.4 0.598243041616119

In [54]:
fehler_if = df_vocabulary_if["Fehler"].dropna()
fehler_for = df_vocabulary_for["Fehler"].dropna()
fehler_while = df_vocabulary_while["Fehler"].dropna()
fehler_do_while = df_vocabulary_do_while["Fehler"].dropna()

tasks_if = []
tasks_for = []
tasks_while = []
tasks_do_while = []


for fehler in fehler_if:
    fehler = str(fehler)
    tmp = [int(n) for n in fehler.split()]
    for x in tmp:
        tasks_if.append(x)

for fehler in fehler_for:
    fehler = str(fehler)
    tmp = [int(n) for n in fehler.split()]
    for x in tmp:
        tasks_for.append(x)
        
for fehler in fehler_while:
    fehler = str(fehler)
    tmp = [int(n) for n in fehler.split()]
    for x in tmp:
        tasks_while.append(x)
        
for fehler in fehler_do_while:
    fehler = str(fehler)
    tmp = [int(n) for n in fehler.split()]
    for x in tmp:
        tasks_do_while.append(x)

counter_fehler_if=collections.Counter(tasks_if)
counter_fehler_for=collections.Counter(tasks_for)
counter_fehler_while=collections.Counter(tasks_while)
counter_fehler_do_while=collections.Counter(tasks_do_while)

counter_fehler_if.most_common()
counter_fehler_for.most_common()
counter_fehler_while.most_common()
counter_fehler_do_while.most_common()

tmp = dict(sorted(counter_fehler_do_while.items(), key=lambda item: item[1], reverse=True))
for k,v in tmp.items():
    print("Nummer:", k, " |Anzahl:", v)
#tmp = collections.OrderedDict(sorted(counter_fehler_do_while.items()))
#for k, v in tmp.items():
#    print(k, v)
#print("For", counter_fehler_for)
#print("While", counter_fehler_while)
#print("Do-while", counter_fehler_do_while)

Nummer: 9  |Anzahl: 7
Nummer: 11  |Anzahl: 1
Nummer: 13  |Anzahl: 1
Nummer: 16  |Anzahl: 1
Nummer: 10  |Anzahl: 1
Nummer: 24  |Anzahl: 1